doctype html
html

    include ./head.jade
        
    body
    
        include ./navbar.jade
    
        div#main.container
            h1.createH1 Create a poll
            p Note that there is a maximum of 10 options.
            if pollSubmitted === true
                p.pollSuccess Poll successfully created!
                    br
                    br
                    | Visit
                    br
                    a(href=poll.url)
                        = poll.url
                    br
                    | to see it!
            else
                form.createForm(action='/polls/create', method='post')
                    div.form-group.row
                        label.col-sm-3.form-control-label(for='txtQuestion') Question
                        div.col-sm-9
                            input#txtQuestion.form-control(name='title', type='text', placeholder='Your poll question')
                    div.form-group.row
                        label.col-sm-3.form-control-label(for='txtChoice1') Option
                        div.col-sm-9
                            input#txtChoice1.form-control(name='choice1', type='text', placeholder='Your poll option')
                    div.form-group.row.optAdd
                        div.col-sm-6.col-sm-offset-6
                            p 
                                a#addOption(href='#') + Add another option
                    label.btn.btn-primary.btnLabel(for='submit')
                        i.fa.fa-check-square-o
                        |  Submit
                    input#submit.hidden(type='submit')
            
        include ./scripts.jade
        script(src='js/create.js')