doctype html
html

    include ./head.jade
        
    body
    
        include ./navbar.jade
    
        div#main.container
            div.jumbotron
                div.row
                    div.col-xs-12.col-sm-12.col-lg-3.icons
                        i.fa.fa-bar-chart
                    div.col-xs-12.col-sm-12.col-lg-9
                        h1= 'fcc-voting'
                        p= 'This is a work in progress web app created by otmeek'
                            a(href='http://www.freecodecamp.com/otmeek')
                                i.fa.fa-fire.fa-fw
                            = ' as part of '
                            a(href='http://www.freecodecamp.com/') FreeCodeCamp
                            = '\'s curriculum, with help from the awesome FCC community!'
                        p= 'Here you can vote on other users\' polls and create your own.'
            
            h2 Latest polls
            div.list-group
                each i in data
                    a.list-group-item(href=i.url + '/vote')= i.title
            
        include ./scripts.jade