doctype html
html

    include ./head.jade
        
    body
    
        include ./navbar.jade
    
        div#main.container
            a(href='/auth/github') Sign in with Github
            
            
        include ./scripts.jade
  