doctype html
html

    include ./head.jade
        
    body
    
        include ./navbar.jade
    
        div#main.container
            h1.createH1= poll.title
            p Choose from the options below.
            form.voteForm(action=poll.url+'/vote', method='post')
                div.form-group.row
                    label.col-sm-12.form-control-label.text-center Options
                    div.col-sm-12.radioOpts
                        each choice, index in poll.choices
                            div.radio
                                label
                                    input(type='radio', name='choice', value='choice'+index)
                                    = choice
                    div#custom.form-group.row
                        span#addCustom.pull-right
                            a(href='#') + Add custom option
                    div.btn-vote.text-center
                        label.btn.btn-primary.btnLabel(for='submit')
                            i.fa.fa-check-square-o
                            |  Vote
                        input#submit.hidden(type='submit')
            
        span#choiceList.hidden= poll.choices
        include ./scripts.jade
        script(src='js/poll.js')