doctype html
html

    include ./head.jade
    head
        meta(http-equiv='refresh', content='2, url=/')
        
    body
        div.container-fluid
        
            div#signout
    
                h1 You have signed out
                p Redirecting you to the home page...