doctype html
html

    include ./head.jade
        
    body
    
        include ./navbar.jade
    
        div#main.container
            h1.createH1 Sign up
            p Create a local account or sign in using your Google account.
            form.form-signin(method='post', action='/signup')
                if message.length > 0
                    div.alert.alert-danger= message
                label.sr-only(for='inputUsername') Username
                input#inputUsername.form-control(name='username', maxlength='50', type='text', placeholder='Username', autofocus='autofocus', required=true)
                label.sr-only(for='inputPassword') Password
                input#inputPassword.form-control(name='password', type='password', placeholder='Password', required=true)
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign up
        

        include ./scripts.jade