doctype html
html

    include ./head.jade
        
    body
    
        include ./navbar.jade
    
        div#main.container
            h1.createH1 Sign up
            p Create a local account or sign in using your Google account.
            form.form-signin(method='post', action='/signin')
                label.sr-only(for='inputUsername') Username
                input#inputUsername.form-control(type='text', placeholder='Username', autofocus='autofocus', required=true)
                label.sr-only(for='inputPassword') Password
                input#inputPassword.form-control(type='password', placeholder='Password', required=true)
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign up
            p or
                a.btn.btn-block.btn-social.btn-google(href='#')
                    span.fa.fa-google
                    | Sign in with Google
        

        include ./scripts.jade