@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
    
html, body {
    margin-top: 25px;
    font-family: 'Open Sans', sans-serif;
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Slabo 27px', serif;
}

#main {
    background-color: white;
    min-height: 100%;
    height: 100%;
    text-align: center;
}

.icons {
    font-size: 65pt;
    color: #aaa;
}

@media only screen and (min-width: 1200px) {
    .jumbotron { text-align: right }
    .icons { 
        padding-top: 50px;
        font-size: 100pt;
    }
}

.inverse-dropdown{
    background-color: #222;
    border-color: #080808;
}
    
.inverse-dropdown li a {
    color: #999;
}

.inverse-dropdown li a:hover {
    color: #fff;
    background-color: #000;
}

.inverse-dropdown li .divider {
    background-color: #000;
}

.list-group-item {
    font-weight: bold;
}

.list-group-item:hover {
    color: #337ab7 !important;
    text-decoration: underline !important;
}

.createForm {
    width: 60%;
    margin: 50px auto;
}

.createForm label {
    font-size: 14pt;
    line-height: 24pt;
    font-weight: 300;
}

.optAdd {
    text-align: right;
}

.createH1 {
    margin-top: 70px;
}

.btnLabel {
    width: 200px;
}

.pollSuccess {
    margin-top: 70px;
    font-size: 14pt;
    font-weight: 300;
}

.voteForm {
    width: 40%;
    margin: 50px auto;
    text-align: left;
}

.voteForm label {
    font-size: 14pt;
    line-height: 24pt;
    font-weight: 300;
}
